<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982616863464-5mq6u61682fn84hg7vorssr890a32q28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982616863464-5mq6u61682fn84hg7vorssr890a32q28</string>
	<key>API_KEY</key>
	<string>AIzaSyDsPE0nyWsTG7YZ53HXY-x_sVcSb5eKues</string>
	<key>GCM_SENDER_ID</key>
	<string>982616863464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prosperity.ODLABS</string>
	<key>PROJECT_ID</key>
	<string>odto-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>odto-ar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982616863464:ios:1f5aaa13e41aee1ec1cf5d</string>
</dict>
</plist>
